@import "variables";
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    background-color: $colorverde;
    padding: 15px;
    div{
        display: flex;
        align-items: center;
        img{
            width: 10px;
            margin-right: 10px;   
        }
        h2:hover{
            color: white;
        }
        a{
            text-decoration: none;
            color: $colornegro;
        }
    }
    nav{
        a{
            font-weight: 900;
            padding-right: 10px;
        }
        
        ul{
            display: flex;
            list-style: none;
            margin-bottom: 0px;
            li{
                text-decoration: none;
                margin-right: 10px;
                font-size: larger;
            }
            li:hover{
                color: white;
                transition: all 50ms;
                }
        }
        
}
}
.contenedorfooter div{
    background-color: rgb(32, 32, 32);

}