@import "variables";
/*inicio*/
.joya div{
    padding: 1%;
    h1{
        font-size: 170px;
        color: $colorblanco;
    }
    p{
        font-size: 25px;
        color: $colorgris;
    }
    
}
/*fin de inicio*/