@import "variables";

.textotours{
    h2{
        @include textotituloh2;
    }
    p{
        @include textop;
    }
}

.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.card-body{
  display: flex;
  flex-direction: column;
  
}

.lollapalooza {
    background-color: rgb(119, 255, 0);
    img{
        width: auto;
        height: auto;
        margin: 3%;
        background-color: white;
    }
    
}
